{% extends "base.html" %}

{% block title %}{{object.name}}{% endblock %}

{% block content %}
<div class="p-2">
  <div class="text-center py-4 px-2 mb-2 border-2 border-slate-900 bg-white">
    <div>{{ object.created_at }}</div>
    <div class="text-2xl font-bold">{{ object.name }}</div>

  </div>

  {% if object.cover_image != "" %}
    <img class="my-2" src="{{object.get_cover_image_url}}" />
  {% endif %}

  <div class="bg-white border-2 p-8">

    {% if object.description != "" %}
    <div class="border border-black p-4 text-sm">
      <div class="">
      {{ object.description|safe }}
      </div>
    </div>
    <hr class="h-px my-8 bg-gray-200 border-0 dark:bg-gray-700">
    {% endif %}

    <div class="">
      <p class="my-2 mb-8">Album: <a href="{% url 'writer' id=object.created_by.id nickname=object.created_by.profile.nickname %}" target="_blank">{{ object.created_by.profile.nickname }}</a></p>
      <div>{{ object.content|safe }}</div>
    </div>

    {% if object.album_images.count > 0 %}
      <div class="flex flex-col mt-2">
        {% for album_image in object.album_images.all %}
        <div class="flex flex-col justify-center border bg-green-100  rounded-md p-2 mb-4 align-middle">
          <img class="self-center w-max-300 h-max-300 object-cover m-2" src="{{album_image.image.get_image_url}}" />
          <div class="text-sm self-center">{{album_image.image.caption}}</div>
        </div>
        {% endfor %}
      </div>
    {% endif %}
    
  </div>
</div>
{% endblock %}

{% block sidebar %}
  {% if tags %}
  <div class="flex flex-col gap-y-4 border bg-green-50 rounded-md p-4">
    <h2 class="text-xl font-bold">Tags</h2>  
    {% for tag in tags %}
      <a href="/tag/{{tag.name}}" class="">{{ tag.name }}</a>
    {% endfor %}
  </div>
  {% endif %}
{% endblock %}
